/problema1/InfoEstudiante/nbproject/private/
/problema1/InfoEstudiante/build/
/problema1/InfoProfesor/nbproject/private/
/problema1/InfoProfesor/build/
/InfoProfesor/build/
/InfoProfesor/nbproject/private/
/problema3/InfoVehiculo/nbproject/private/
/problema3/InfoVehiculo/build/
/problema3/ChequeBanco/nbproject/private/
/problema3/ChequeBanco/build/
